* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-hover-color : #9806a5;
    --background-color : #0d1b2a;
    --background-light-dark-color : #1b263b;
    --text-color : #e0e1dd;
    --white-color : white;

    --glow-effect : rgba(152, 6, 165, .6);
    --glow-effect-hover : rgba(152, 6, 165, 1);

}

body, html {
    height: 100%;
    color: var(--text-color);
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
   
}

a{
    text-decoration: none;
    color: var(--text-color);
}

li{
    list-style: none;
}

span{
    color: var(--text-hover-color);
}

/* -------------------common classes------------------ */

.container{
    width: 90%;
    margin: auto;
}

/* -----------------navbar--------------- */

nav{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    min-height: 4rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.left-nav{
    width: 30%;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: 900;
    transition: .3s;
}

.logo:hover{
    color: var(--text-hover-color);
    transform: scale(1.1);
}

.right-nav{
    width: 60%;
    display: flex;
    align-items: center;
}

.right-nav ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-nav ul li a{
    font-size: 20px;
    font-weight: 400;
    position: relative;
    transition: .4s;
}

.right-nav ul li a:hover{
    color: var(--text-hover-color);
}

.right-nav ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color:var(--text-hover-color);
    transform: translateY(4px);
    transition: .4s;
}

.right-nav ul li a:hover::before{
    width: 100%;
}

.background{
    height: 90%;
    width: 100%;
    z-index: -11;
    position: absolute;
    background-color: var(--background-light-dark-color);
}

#canvas {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
}

/* ------------------hero section------------------ */
.content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 90%;
}

.hero-section{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-left-content{
    flex-basis: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    /* background-color: red */
}

.hero-left-content p{
    color: var(--white-color);
    font-size: 16px;
    font-weight: 200;
}

.hero-left-content h2{
    font-size: 30px;
    font-weight: 900;
    color: var(--white-color);
}
.hero-left-content h1{
    font-size: 45px;
    font-weight: 900;
    color: var(--white-color);
}

.btns{
    width: 45%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    padding: 10px 20px;
    border-radius: 2rem;
    transition: .3s;
}

.btn:hover{
    transform: scale(1.1);
}

.btn-white{
    background-color: var(--text-hover-color);
    color: var(--white-color);
}

.btn-orange{
    color: var(--text-hover-color);
    background-color: var(--white-color);
}

.hero-right-content{
    background-color: var(--text-hover-color);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;

    box-shadow: 0 0 20px var(--glow-effect);

    transition: box-shadow 0.3s ease;
}
.hero-right-content:hover{
    box-shadow: 0 0 40px var(--glow-effect-hover);
}
.hero-right-content img{
    width: 100%;
    filter: drop-shadow(0 0 0 var(--text-hover-color)) drop-shadow(0 0 15px var(--white-color));
    transition: .4s;
}

.hero-right-content img:hover{
    filter: drop-shadow(0 0 0 var(--text-hover-color)) drop-shadow(0 0 8px var(--white-color));

}