.show-code{
    display: flex;
    justify-content:start;
    align-items: center;
    flex-wrap: wrap;
}
.section1{
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 8rem;
}
#code{
    font-size: 1.1rem ;
    margin-left: 1rem;
    background-color: transparent !important;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}
@media (max-width: 767px) {
    #code{
        font-size: .8rem ;
    }

}
